@charset "utf-8";
#header {
  width: 100%;
  height: 48px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E0E0E0;
  text-align: center;
  line-height: 48px;
}

#content {
  height: 90%;
  width: 100%;
}

#matrix {
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
}

#target {
  margin-top: 20%;
  width: 80%;
  height: 80%;
  display: inline-block;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  overflow: scroll
}

.grid {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
}

#text {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
}

#textarea {
  margin-top: 20%;
  width: 80%;
  height: 80%;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
}

#footer {
  width: 100%;
  height: 48px;
  border-top: 1px solid #E0E0E0;
  background-color: #FAFAFA;
  text-align: center;
  line-height: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

#main {
  margin-top: 0px;
  width: 80%;
  height: 100%;
  background-color: #FAFAFA;
  margin: 0 auto;
}

textarea {
  resize: none;
}